body {
    width: 50%;
    background-color: black;
    margin:6% auto;
}
ul{
    list-style: none;
    text-align:center;
    padding:0;

}
ul li{
    margin:10px 0 10px 0;
    font-size:30px;
    color:#1aff1a;

}ul li:hover{
    color:#1aff1a;
    text-shadow: 0px 0px 26px rgba(0, 255, 0, 1);
}
ul li a{
    color:#1aff1a;
}
ul li a:hover{
    color:#1aff1a;
    text-shadow: 0px 0px 26px rgba(0, 255, 0, 1);
}
form{
    border-color: #00cd00;
    background-color: #000;
    color: #00cd00;

}






table{

    border:3px #1aff1a;
    font-family: 'Fredoka One', cursive;
    font-size:15px;
    margin:0 10px 0 10px;
    text-align:center;
}





h1{
    font-family: 'Bangers', cursive;
    text-align: center;
}
h2{
    text-align: center;
}

.asleft h2{
    font-size:60px;

}

.content {
    border: 1px #1aff1a;
    margin: 2% 10%;
    width: 80%;
    background-color: black;
    border-radius: 25px;
    font-family: 'Bangers', cursive;
    color:#1aff1a;
}

.header {
    text-align: center;
}

.asleft{
    margin-left: 2%;
    float: left;
    width: 22%;
    min-height: 420px;
    font-family: 'Bangers', cursive;
   
}
.asleft__link{
    text-align:center;
    text-decoration:none;
    margin:10px 0 10px 0;
}

.asright {
    width: 50%;
    text-align: center;
    padding-bottom: 2%;
}

.asright__form {
    width: 50%;
    text-align: left;
    margin: 1% 5%;
}

.main {
    float: right;
    width: 75%;
    min-height: 420px;
}



.footer {
    border-top: 1px solid black;
    clear: both;
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer__p {
    margin: 0%;
    text-align: center;
    font-family: 'Bangers', cursive;
}