<aside class="asleft">
        <h2>MENI</h2>
        <div>
            <ul>
                <li>
                    <a  class = "asleft__link "  href="index.php?link=film">Film</a>
                </li>
                <li>
                    <a  class = "asleft__link " href="index.php?link=genre">Genre</a>
                </li>
                <li>
                    <a  class = "asleft__link " href="index.php?link=schedule">Schedule</a>
                </li>
            </ul>
        </div>
    </aside>

   