        <footer class="footer">
            <!--START CONTACT INFO-->
            <p class="footer__p">Posted by: Djomla with help from Jelena and Damir</p>
            <!--END CONTACT INFO-->
        </footer>
